<footer class="page-footer orange">
    <div class="container">

      <div class="row">

          <div class="col l6 s12">
            <h5 class="white-text">Our Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job.  <<< Just for FuN. >>></p>
          </div>

          <div class="col l3 s12">
            <h5><a class="white-text" href="/about">About</a></h5>
          </div>

          <div class="col l3 s12">
          	<h5><a class="white-text" href="/contact">Contact Me</a></h5>
          </div>

      </div>

    </div>

    <div class="footer-copyright">
    	<div class="container">
      		Copyright @Examsaviour.com 2015 - 2016
      </div>
    </div>
</footer>

