<title><%= title %></title>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="<link rel='stylesheet' href='/stylesheets/style.css' />
0">



<script src='/javascripts/jquery-1.11.3.min.js'> </script>

<script src='/js/init.js'> </script>

<script src='/js/materialize.min.js'> </script>