<title><%= title %></title>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="<link rel='stylesheet' href='/stylesheets/style.css' />
0">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- 
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
 -->

<!--<link rel='stylesheet' href='/css/materialize.css' /> -->
<link rel='stylesheet' href='/css/materialize.min.css' />
<link rel='stylesheet' href='/css/style.css' />


<!-- 
<script src='/javascripts/bootstrap.js'> </script>
<script src='/javascripts/bootstrap.min.js'> </script>
<script src='/javascripts/npm.js'> </script>
<script src='/javascripts/typeahead.bundle.min.js'> </script>
-->
<!--
<script src='/js/init.js'> </script>
<script src='/javascripts/jquery-1.11.3.min.js'> </script>
<script src='/js/materialize.js'> </script>
<script src='/js/materialize.min.js'> </script>
-->