<ul id='dropdown1' class='dropdown-content'>
  <li><a href="/upload">Upload</a></li>   
  <li><a href="/notestack">NoteStack</a></li>
  <li><a href="/profile">Profile</a></li>
  <li class="divider"></li>
  <li><a href="/signout">Signout</a></li>
 </ul>

 <ul id="dropdown2"  class="dropdown-content">
    <li><a href="/upload">Upload</a></li>   
    <li><a href="/notestack">NoteStack</a></li>
    <li><a href="/profile">Profile</a></li>
    <li class="divider"></li>
    <li><a href="/signout">Signout</a></li>
</ul>
<div class="navbar-fixed">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">NoteStack</a>
      <ul class="right hide-on-med-and-down">
      	<li><a href="/">Home</a></li>
      	<li><a href= "/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Feedback</a></li>
    <% if(auth){%>
        <li><a class="dropdown-button btn" href="#!" data-activates="dropdown1"><%= user.facebook.firstname%><i class="material-icons right">arrow_drop_down</i></a></li>
        <% }else{ %>
    <li><b><a href="/login">Login</a></b></li>  
    <% } %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
      <% if(auth){%>
        <li><a class="dropdown-button btn" href="#!" data-activates="dropdown2"><%= user.facebook.firstname%><i class="material-icons right">arrow_drop_down</i></a></li>
        <% }else{ %>
    <li><b><a href="/login">Login</a></b></li>  
    <% } %>
        <li><a href="/">Home</a></li>
        <li><a href= "/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Feedback</a></li>
       
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77451608-1', 'auto');
  ga('send', 'pageview');

</script>

<!--
<header style= "height: 80px; width: 100% ; padding: 5px; background-color: #f1f1f1; position: fixed">

<a href="/" ><img src="/images/book-pile.jpg" alt="Note icon" align="left" style="width:200px; height:75px; padding:0px 0px 0px 0px;; margin: 0px"> </img> </a>
<div style="text-align: center; font-size: 35px ; position: fixed; top: 20px; left: 650px "><b><a href="/">NoteStack</a></b></div>

<div style="float: right; width: 80px; padding-top: 20px; position: relative; right: 30px"><a href="/login">login/signup</a></div>
</header>
-->