<ul id='dropdown1' class='dropdown-content'>
	<li><a href="/upload">Upload</a></li>   
	<li><a href="/notestack">NoteStack</a></li>
	<li><a href="/profile">Profile</a></li>
	<li class="divider"></li>
	<li><a href="/signout">Signout</a></li>
 </ul>

 <ul id="dropdown2"  class="dropdown-content">
  	<li><a href="/upload">Upload</a></li>   
  	<li><a href="/notestack">NoteStack</a></li>
  	<li><a href="/profile">Profile</a></li>
  	<li class="divider"></li>
  	<li><a href="/signout">Signout</a></li>
</ul>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">NoteStack</a>
      <ul class="right hide-on-med-and-down">
      	<li><a href="/">Home</a></li>
      	<li><a href= "/about">About</a></li>
        <li><a href= "/blog">Blog</a></li>
        <li><a href="/contact">Feedback</a></li>
        <li><a class="dropdown-button btn" href="#!" data-activates="dropdown1"><%= user.facebook.firstname%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li> <a class="dropdown-button btn" href="#!" data-activates="dropdown2"><%= user.facebook.firstname%><i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/">Home</a></li>
        <li><a href= "/about">About</a></li>
        <li><a href= "/blog">Blog</a></li>
        <li><a href="/contact">Feedback</a></li>
 
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">mnu</i></a>
    </div>
</nav>