<!DOCTYPE html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <% include partials/head.ejs %></head>
  <body>

  <% include partials/header.ejs %>
  
      <div class="container">
          <h1><%= title %></h1>
          <h5>NoteStack is a web application designed for students for notes sharing. This application allows students to share notes anywhere, anytime. Users can upload notes, view notes and add those notes to their NoteStack. <br>
          It is a great platform for students to get notes a night before exam!!<br> User  can put feedback on  notes and hence other students can pick the best notes.
          

           </h5><br><br><br>
      </div>
  <% include partials/footer.ejs %>
      <% include partials/headscript.ejs %>
  </body>
  </html>
