<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<% include partials/head.ejs %>
</head>
<body>
<!--  <% if(auth){%>
	<% include partials/loggedin-header.ejs %>
	<% }else{ %>
	<% include partials/header.ejs %>
    <% }%>  -->
  <% include partials/header.ejs %>
  
<div class ="container">
	<br>
	<h5><%= title %></h5>
<form action="/login1" method="post">
 		 Username:<br>
		 <input type="text" name="username">
		 <br>
		 Password:<br>
		 <input type="password" name="password">
		 <input type="submit">
 </form>
 
 <a href='/signup'>signup</a>
 <br><br>
<a href="/change-password">Forgot Password</a>
</div>
<br><br><br><br><br><br>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
</body>
</html>
