<!DOCTYPE html>
  <head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/head.ejs %>
  </head>
  <body>

  <% include partials/header.ejs %>
  <br>
    <div class="container">
       <h1><%= title %></h1>
       <p>Thinking... <br>Under Development</p>
  </div>
  <% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
