<html>
<head><% include partials/head.ejs %></head>
<body>
<!--  <% if(auth){%>
  <% include partials/loggedin-header.ejs %>
  <% }else{ %>
  <% include partials/header.ejs %>
    <% }%>  -->
  <% include partials/header.ejs %>
 
  <div class="contents">
  <form name="change-password1" method="post" action="change-password1">
  Username: <input type="text" name="username" autocomplete="off"><br>
  <br>
  Recovery Question:
  <select name="question">
  <%for(var i=0; i<rec.length; i++){ %>
  <option value=<%= i %>> <%=   rec[i] %> </option>
  <% } %>
  </select>
  <br><br>
  Answer:
  <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
<input style="display:none" type="password" name="fakepasswordremembered"/>
  <input type="password" name="answer" autocomplete="off">
  <br><br>
  <input type="submit">
  </form>
  <% if (typeof(message)!='undefined')%>
 <%= message %>
 </div>
 <% include partials/footer.ejs %>
    <% include partials/headscript.ejs %>
</body>
</html>
