<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <% include partials/head.ejs %>
    <script>
    function formValidate(){
    var firstname = document.commentform.firstname.value;
    var lastname = document.commentform.lastname.value;
    var email = document.commentform.email.value;
    var matter = document.commentform.matter.value;
    if(firstname==""){
        alert("Enter first name");
        return;
      }
    if(lastname==""){
        alert("Enter last name");
        return;
    }
    if(email==""){
      alert("Enter your email");
      return;
    }else{
      var check=email.indexOf('@')
      if((check==-1)||(check==0)){
          alert("Enter valid Email address");
          return;
      }
      var emailArr=email.split('@');
      if(emailArr[1]==""){
          alert("Enter valid Email address");
          return;
      }
      var check2=emailArr[1].indexOf('.')
      if((check2==-1)||(check2==0)){
          alert("Enter valid Email address");
          return;
      }
      var emailArr2=email.split('.')
      if(emailArr2[1]==""){
        alert("Enter valid Email address");
      }
    }
    if(matter=="" || matter == " " || matter == "  "|| matter == "   "){
        alert("Put something in feedback");
        return;
    }
    var str='mailto:rohangulati94@gmail.com?subject=Contact/Feedback&body=Name-'+firstname+'%20'+lastname+'%0AEmail - '+email+'%0A------------ %0A'+matter;
    window.location.href = str;
    //document.forms["commentform"].submit();
    /*$.ajax({
      url:"http://localhost:3000/sendcomment",
      type:"POST",
      data:{fname:firstname,email:email},
      success: function(data) {
          window.location.href = 'mailto:rohangulati94@gmail.com?subject=Contact/Feedback&body=This is';
          console.log('huhuhuhu');
      }
    });*/

  }
  </script>
  </head>
  <body>

  <% include partials/header.ejs %>
  
  <div class ="container">
    <h1><%= title %></h1>
    Thanks for contacting us, Please fill this form.<br><br>
    <form id="Contact" action="#" method="post" name='commentform'>
            First Name: <input type="text" name="firstname"><br><br>
            Last Name: <input type="text" name="lastname"><br><br>
            E-mail: <input type="email" name="email"><br><br>
            Feedback: <textarea name ="matter" placeholder="........" style="width:800px; height:200px; background-color:#D0F18F;color:Indigo;" ></textarea><br><br>
            <input type="button" value="submit" onclick="formValidate()">
    </form>
      <br>
      <br>


  </div>
  <% include partials/footer.ejs %>
      <% include partials/headscript.ejs %>
  </body>
</html>
