<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
<style>

</style>
     <script>

        $(document).ready(function(){
              $.getJSON("/jsondata.json",function(data){
                catvals = data.categories.split(",");
                $.each(catvals,function(i,catvalue){

                    subcatvals = data[catvalue].split(",");
                    console.log(subcatvals);
                    $.each(subcatvals,function(i,subcatvalue){
                      $('#'+catvalue).append('<a href="/nlist/'+catvalue+'/'+subcatvalue+'">'+ subcatvalue+ '</a><br><br>')
                    })
                    
                })

              })

           
           
        });


  </script>
  </head>

  <body>

  <% include partials/header.ejs %>
  <div class ="container">

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h3 class="header center orange-text">Which Exam tomorrow?</h3>
        
        <br><br>

      </div>
    </div>
      
      <ul class="collapsible" data-collapsible="accordion">
      <li>
          <div class="collapsible-header"><i class="material-icons"></i>CSE 8th Sem  -< The Last One > -</div>
            <div class="collapsible-body">
              <p id="CSE_8th_sem">
               
              </p>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>CSE 7th Sem</div>
            <div class="collapsible-body">
              <p id="CSE_7th_sem">
         <!--       <a href="/nlist/CSE/SMCS"> SMCS </a><br><br>
                <a href="/nlist/CSE/AI"> AI </a><br><br>
                 ***** Previous year Question papers 7th sem *****<br><br>
                <a href="/nlist/CSE/SMCS_q"> SMCS </a><br><br>
                <a href="/nlist/CSE/AI_q"> AI </a><br><br>
                <a href="/nlist/CSE/CD_q"> CD </a><br><br>
                <a href="/nlist/CSE/ULP_q"> ULP </a><br><br>
                <a href="/nlist/CSE/WEB_q"> WEB </a><br><br>
                ******* All thE bEsT *******    -->
              </p>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>ECE</div>
            <div class="collapsible-body">
              <p id="ECE">
               
              </p>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>Mech</div>
            <div class="collapsible-body">
              <p id="Mech">
                
              </p>
            </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"></i>Bio</div>
          <div class="collapsible-body">
            <p id="Bio">
             
            </p>
          </div>
        </li>
      </ul>
  </div>
  <!--  <div id="the-basics">
        <input class="typeahead" type="text" placeholder="States of USA">
    </div>
    <h3 style="margin-left: 550px; margin-top: 40px; width: 200px">Select Category </h3>
    <div class='vNavBar'>
      <ul id="categories">
        <li><a href="/viewsubcat/cse"><img src="images/folder-pic.jpg" width="200px"; height="200px " class="folder-pic"></a><br><br></li>
        <li><a href="/viewsubcat/ece"><img src="images/folder-pic.jpg" width="200px"; height="200px" class="folder-pic"></a><br><br></li>
        <li><a href="/viewsubcat/mech"><img src="images/folder-pic.jpg" width="200px"; height="200px " class="folder-pic"></a><br><br></li>
        <li><a href="/viewsubcat/bio"><img src="images/folder-pic.jpg" width="200px"; height="200px " class="folder-pic" style="margin-right:0px;"></a><br><br></li>

      </ul>
      <ul id="categories-text">
        <li><a href="/viewsubcat/cse">CSE</a></li>
        <li><a href="/viewsubcat/ece">ECE</a></li>
        <li><a href="/viewsubcat/mech">MECH</a></li>
        <li><a href="/viewsubcat/bio">BIO</a></li>
      </ul>

    </div>
  
  </div>-->
<!--
<script>
      var substringMatcher = function(strs) {
        console.log("hihihihih typeahead01");
      return function findMatches(q, cb) {
      var matches, substringRegex;
console.log("hihihihih typeahead");
      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
  };
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('#the-basics .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
});
    </script> -->
    <script>
        $(document).ready(function(){
          $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
              });
            });   
    </script>

    <% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
 </body>
</html>
