<html>
<head><% include partials/head.ejs %></head>
<body>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/header.ejs %>
  
<div class ="container">
	<br>
	<h5><%= title %> with</h5> 
<br>
 
 <a href="/auth/facebook"><img src="/images/fbLoginButton.png" alt="Facebook Login" style="width:261px;height:47px;background:#3333cc;"></img></a>
<br><br>
  <a href="#"><img src="/images/googleLoginButton.png" alt="Google Login" style="width:261px;background:#b5403a;height:47px;"></img></a>

 <% if (typeof(message)!='undefined')%>
<%= message %>
&nbsp&nbsp
</div>
<br><br><br><br><br><br><br><br>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
</body>
</html>
