<html>
<head><% include partials/head.ejs %></head>
<script>
function formValidate(){
var password=document.setnewPassword.password.value;
if(password==""){
  alert("password can't be left empty");
  return;
}
if(password.length<6){
  alert("password can't be of less than six characters");
  return ;
}
document.forms["setnewPassword"].submit();
}
</script>
<body>
  <% if(auth){%>
  <% include partials/loggedin-header.ejs %>
  <% }else{ %>
  <% include partials/header.ejs %>
  <% }%>
  <% include partials/navigation.ejs %>
  <div class="contents">
  <form name="setnewPassword" action="new-password1" method="post">
  Enter new Password:
   <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
<input style="display:none" type="password" name="fakepasswordremembered"/>
  <input type="password" name="password" autocomplete="off"></input>
  <br>
  <input type="hidden" name="username" value=<%= user.username %>>
  <input type="button" value="submit" onclick="formValidate()">
  </div>
  <% include partials/footer.ejs %>
    <% include partials/headscript.ejs %>
  </body>
  </html>
