<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %>
  <br>
    <div class="container">
      <a href="/"> Notes </a> <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;"> <a href="/viewsubcat/<%= info[0] %>"><%= info[0] %></a> <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;"><%= info[1] %>
            <hr>
    <h1><%= title %></h1>

     <% if(arr[0]){%>
  <ul>
      <% arr.forEach(function(data){ %>
        <li><a href='/viewnote/<%= data.sname %>/uhi'><img src="/images/<%= data.simage %>" class="circle responsive-img" alt="Note Image" align="left" style="width:120px;height:90px;margin:0px 50px 25px 0px;"></img></a>
          <a href='/viewnote/<%= data.sname %>/uhi'> <%= data.oname %> </a><br><br><br><br><br><br><br><br></li>
      <%  }); %>
    </ul>
  <% }else{ %>
  No notes found.<br>
  Start by <a href='/upload'>uploading</a> yourself.
  <% }%>
  <br><br><br><br><br><br>
  </div>
  <% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
