<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/head.ejs %>
  </head>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
    <script>
        $(document).ready(function(){
          $('input[type="submit"]').prop('disabled', true);
           $('#ioio').keyup(function() {
              if($(this).val() != '' && $(this).val() != " " ) {
                 $('input[type="submit"]').prop('disabled', false);
              }
              else{
                $('input[type="submit"]').prop('disabled', true);
              }
           });
        });
    </script>
  <body>
  <% include partials/header.ejs %>
    <br>
    <div class="container">

        <a href="/">Notes</a>
        <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;">
        <a href="/viewsubcat/<%= arr[0].category %>"><%= arr[0].category %></a>
        <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;">
        <a href="/nlist/<%=arr[0].category%>/<%= arr[0].subcategory %>"><%= arr[0].subcategory %></a>
        <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;">
        <%= arr[0].oname %>
            <hr>

        <h2><%= arr[0].oname %></h2>
        <img src= "/images/<%= arr[0].simage %>" class="circle responsive-img" alt="Note Image" align="left" style="width:250px;height:200px;margin:0px 50px 25px 0px;">
        <p><strong>Uploaded by </strong>: <%= arr[0].uploaderName %> </p>
        <p><strong>Description:</strong> <%= arr[0].description %></p>
        <a href="/downloads/<%=arr[0].type%>/<%= arr[0].sname %>/<%= arr[0].oname %>">Download</a>    |
        <% if(auth){ %>
        <!--      <a href="/downloads/<%=arr[0].type%>/<%= arr[0].sname %>">Download</a>   -->
              <% if(!inStack){ %>
                  <a href="/addtostack/<%=arr[0].sname%>/<%=arr[0].oname%>/<%= arr[0].simage %>"> Add to NoteStack</a>
              <% }else{ %>
                  <a href="/../removefromstack/<%= arr2[0]._id %>"> Remove from NoteStack </a>
              <% } %>
        <% }else{ %>
            <a href="/login">Login</a> to Add to NoteStack.
        <% } %>

      <h4> Comments </h4>
      <ul>
        <% comments.forEach(function(data){ %>
            <li><b><%=data.userName%> </b> <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;"> <%= data.comment %> </li>
        <% }); %>
      </ul>
      <%if(auth){%>
          <form id="comment" action="/../submitcomment/<%= arr[0].sname %>" method="post">
              <textarea id="ioio" name ="comment" placeholder="Your comments..." style="width:400px; height:60px; background-color:#D0F18F; color:Indigo;" ></textarea><br><br>
              <input type= 'submit' value='comment' name='submit'>
          </form>
      <%}else{%>
            <a href="/login">Login</a> to Comment.
      <%}%><br><br><br><br>
  <!--    $(document).ready(function(){
        $(#comment).submit(function(){
          $ajax({
          url:,
          success:
        })

      });
    }); -->


    </div>

    <% include partials/footer.ejs %>
      <% include partials/headscript.ejs %>
  </body>
</html>
