<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/head.ejs %>
  </head>
  <body>
   <% include partials/header.ejs %>
  
	<div class ="container">
	<h1><%= title %></h1>
	<% if(auth){%>
	 <% if(arr[0]){ %>
	<ul>
  		<% arr.forEach(function(data){ %>
  			<li><a href='/viewnote/<%= data.notesname %>'><img src="images/<%= data.notesimage %>" alt="Note Image" align="left" style="width:150px;height:110px;margin:0px 50px 25px 0px;"></img></a>
  				<a href='/viewnote/<%= data.notesname %>'> <%= data.noteoname%> </a>--------<a href='removefromstack/<%= data._id %>'>Remove</a><br><br><br><br><br><br><br><br><br> </li>
  		<%	}); %>
  	</ul>
  	<% }else{ %>
  	<p>You have not added anything to your Notestack. </p>
  	<% }%>
	<% }else{ %>
		<p>	<a href='/login'> Login</a> to view your Notestack </p>
	<% }%><br><br><br><br><br><br><br><br>

	</div>
	<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
 </body>
</html>
