<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/head.ejs %>
  <script>
    function setValue(){
      document.profileForm.userj.value= <%- JSON.stringify(user.username) %>
      var imgfile = (document.getElementById('pimage')).files;
      var imginfo = (imgfile[0].type).split("/");
      if(imginfo[0] != "image"){
          alert('Please uplopad a your \'image\'');
        }
      else{
          document.forms["profileForm"].submit();
        }
    }
  </script>

  </head>
  <body>
  <% include partials/header.ejs %>
 
  
  <div class="container">
  <h3> Change profile pic</h3><br>
  <form action="profile-set1" name="profileForm" method="post" enctype=multipart/form-data>
  <input type="file" id='pimage' name="profile_pic"><br>
  <input type="hidden" name="userj" value=""><br>
  <input type='button' onclick="setValue()" value='submit'>
  </form><br>
    <h5> or </h5>
    <div id="skipButton"> 
    <a href="/"><button>Skip</button></a> <br><br>
  </div>

  </div>
  <% include partials/footer.ejs %>
      <% include partials/headscript.ejs %>
  </body>
  </html>
