<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/header.ejs %>
 

  <div class ="container">
  <h1><%= title %></h1>
    <br>
  <div id="profilePicContainer">
  <a href="/profile-set">
    <img src="profilePic/<%= user.facebook.profilePic %>" widht="110" height="90">
  </a>
  </div>
  <div id="details">
  Name: <%= user.facebook.name %> <br>
  Email:    <%= user.facebook.email %>
  </div>
  <hr>
  <a href='/profile-set'>Change Profile Pic </a><br><br>

    <hr>
    <h3>Your Uploads</h3>
    <% if(arr[0]){ %>
    <ol>
      <% arr.forEach(function(data){ %>
        <li><a href='/viewnote/<%= data.sname %>'><%= data.oname %> </a> </li>
      <%  }); %>
    </ol>
    <% }else{ %>
      <p>No notes uploaded ... yet.</p>
      <% } %>
  </div>
  <% include partials/footer.ejs %>
      <% include partials/headscript.ejs %>
  </body>
  </html>
