<html>
<head>
http://en.savefrom.net/#url=https:/www.youtube.com/watch?v=X8L1nUxed0U&utm_source=sfrom.net&utm_medium=short_domains&utm_campaign=sfrom.net
<% include partials/head.ejs %>

<script>
$(document).ready(function() {
    $('select').material_select();
});

function formValidate(){
  var firstname=document.registerForm.firstname.value;
  var lastname=document.registerForm.lastname.value;
  var username=document.registerForm.username.value;
  var password=document.registerForm.password.value;
  var email=document.registerForm.email.value;
  if(firstname==""){
      alert("firstname can't be left empty");
      return;
    }
  if(lastname==""){
      alert("lastname can't be left empty");
      return;
  }
  if(username==""){
      alert("username can't be left empty");
      return;
  }
  if(username.indexOf(" ")>=0){
      alert("username can't have spaces");
  }
    if(password==""){
      alert("password can't be left empty");
      return;
    }
    if(password.length<6){
      alert("password can't be of less than six characters");
      return

    }
    if(email==""){
      alert("email can't be left empty");
      return;
    }else{
      var check=email.indexOf('@')
      if((check==-1)||(check==0)){
          alert("invalid email1");
          return;
      }
      var emailArr=email.split('@');
      if(emailArr[1]==""){
          alert("invalid email2");
          return;
      }
      var check2=emailArr[1].indexOf('.')
      if((check2==-1)||(check2==0)){
          alert("invalid email3");
          return;
      }
      var emailArr2=email.split('.')
      if(emailArr2[1]==""){
        alert("invalid email4");
      }

    }

    document.forms["registerForm"].submit();




    }
  //document.forms["registerForm"].submit();
 /*   $(document).ready(function(){

        $("#uname").on('keyup',function(){
               // perform ajax call
               var uname=$('#uname').val();

               $.ajax({
                     url:'http://localhost:3000/checkUnameAvailable',
                     type:"POST",
                     data:{usrname:uname},
                     success:function(server_response){
                       console.log(server_response + uname );
                     },
                     error: function(jqXHR, textStatus, errorThrown)
                     {
                         alert(textStatus + ': ' + errorThrown);
                     }
               });
        });
    });*/
</script>
</head>

<body>
  <% include partials/header.ejs %>
    <div class ="container">

    <form action="/signup" method="post" name="registerForm" id="adduser">
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
      First name: <input type="text" name="firstname" id="fname"><br><br>
      Last name: <input type="text" name="lastname" id="sname"><br><br>
      Username: <input type="text" name="username" id="uname" autocomplete='Off'><br><br>
      Password: <input type="password" name="password" id="pw" autocomplete='Off'><br><br>
      E-mail: <input type="email" name="email"><br><br>
      Password Recovery Question:
      <select name="question">
          <%for(var i=0; i<rec.length; i++){ %>
          <option value=<%= i %>> <%=   rec[i] %> </option>
          <% } %>
      </select>
      <br><br>
      Answer:
      <input type="text" name="answer"><br><br>
      <input type="button" value="submit" onclick="formValidate()">
      <!--<input type="button" id="submit" value="submit" onclick="formValidate()"> -->

      </form>
     <br><br>
     <% if (typeof(message)!='undefined')%>
    <%= message %>
    </div>
    <% include partials/footer.ejs %>
    <% include partials/headscript.ejs %>
    <!--<input type="button" value="submit" onclick="formValidate()"> -->
</body>
</html>
