<!DOCTYPE html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <% include partials/head.ejs %>
    <% include partials/headscript.ejs %>

    <script type="text/javascript">

      $(document).ready(function(){

        $.getJSON("/jsondata.json",function(data){
          

                  vals = data.<%=branch%>.split(",");

                  $.each(vals,function(i,value){
                    $('#subcat').append('<li><a href="/nlist/<%=branch%>/'+value+'">' + value +'</a></li><br>')
                  })
      
              });

      });

    </script>

  </head>

  <body>
     <% include partials/header.ejs %>
      <div class ="container">
          <br>
          <a href="/"> Notes </a> <img src="/images/arrow.png" style="width:15px;height:15px;margin:0px 10px 0px 10px;"> <%= branch %>
                <hr>
          <h1 id="branch"><%= title %></h1>
        
        	<ul>
              <div id="subcat"> </div>

      	  </ul>
      </div>
    <% include partials/footer.ejs %>
      
  </body>
</html>
