<!DOCTYPE html>
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
  <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
  <script>

        $(document).ready(function(){

              $.getJSON("/jsondata.json",function(data){
                vals = data.categories.split(",");
                $.each(vals,function(i,value){
                  $('#first-choice').append("<option>" + value + "</option>")
                })
              })

              $("#first-choice").change(function() {
              var $dropdown = $(this);
              $.getJSON("/jsondata.json", function(data) {
              
                var key = $dropdown.val();
                var vals = [];
                          
                vals = data[key].split(",");
                var $secondChoice = $("#second-choice");
                $secondChoice.empty();
                $secondChoice.append("<option value=\"\">Please Select</option>");
                $.each(vals, function(index, value) {
                  $secondChoice.append("<option>" + value + "</option>");
                });

              });
              });
           
        });

        function validateForm() {
          var isValid = true;
          $(':input').each(function() {
              if ( $(this).val() === '' ){
                  isValid = false;
                }
          });
          if(isValid){
              var notefile = (document.getElementById('note')).files;
              var imgfile = (document.getElementById('nimage')).files;
              var imginfo = (imgfile[0].type).split("/");
              console.log(notefile[0].type);
              if(notefile[0].type != "application/pdf" & notefile[0].type !="application/x-download"){
                alert('PDF Notes Only.');
                return false;
              }
              else if(imginfo[0] != "image"){
                alert('Notes image should be JPEG or PNG');
                return false;
              }
              else
                return true;
          }
          else{
              alert('Please Fill all Fields.');
            }
      };

  </script>

  </head>

  <body>
  <% include partials/header.ejs %>
    <div class ='container'>
          <h1><%= title %></h1>
          <%if(auth){%>
          <div class="row">
            <form action = "formaction" onsubmit="return validateForm()" enctype = "multipart/form-data" method = "post" id="uploadform" name="upform" class="col s12">

              <div class="input field col s6">
                Note : <input type="file" name="myfile1"  id="note" required>
              </div>
              <div class="input field col s6">
                Image: <input type="file" name="myfile2"  id="nimage" required><br><br>
              </div>
              <div class="input field col s6">
                Select Category :
               <select name="category" id="first-choice" class="browser-default" required>
                  <option selected value="">Please Select</option>
                </select>
                </div> 
                <div class="input field col s6">
                Select sub-category:
                <select name="subcategory" id="second-choice" class="browser-default" required>
                  <option value="">Please choose from above</option>
                </select>
                </div>
                
                <div class="row">
               <div class="input-field col s12">
                <textarea name="description" class="materialize-textarea" id="description" required></textarea>
                <label for="description">Notes Description</label>
                </div>
                </div>

                  <input type='submit'value='Share'>
                
            </form>
          </div>
          <br><br>
          <% }else{ %>
              <a href="/login">Login</a> to Upload.
          <% } %>
    </div>
        <% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
