<!DOCTYPE html>
  <head> 

      <!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
  <script src='/javascripts/jquery-1.11.3.min.js'> </script>
  <script src='/javascripts/npm.js'> </script>
  <script>

      $(document).ready(function(){
        ////// to hide other sub categories dropdown box /////////
        $('div.subcat').children().hide();

          var c=0,elements,subclass,tempo;

          $('#category').bind('change',function(){
              console.log('changed');
              var value=$('#category').val();
              if (value.length) { // if somethings' selected
                  //toShow=$('<div/>').append($('div.'+value).clone()).html();
                  if(c){
                      console.log(elements+'ujhu');
                      $("div.subcat").append(elements)
                  }
                  selectedCat = $('div.'+value).html();
                  //console.log(selectedCat);
                  
                  elements = $('div.subcat').children().detach();
                  
                  /* Note that the value of elements keep incresing as user changes value of cat */
                  $(".subcat").append(selectedCat); // show the ones we want
                   //console.log('changed1.5');

                  // $('select:not([multiple])').material_select();
                   //$('select').material_select();
                  /* tempo = $('div.sc').children().html();
                   if(tempo != undefined){
                    console.log("tempo = "+tempo);
                    $('div.sc').hide();
                  }*/
                   c=1;
              }
          }).trigger('change');

//$('#uploadform').click(function(){
/*$('input:file').click(function(){
  var car=$(this).val();
          if(car)
          console.log('hih'+car);
        else
          alert('no value');
      });  */
//});


      });

function validateForm() {
    var isValid = true;
    $(':input').each(function() {
        if ( $(this).val() === '' ){
            isValid = false;
          }
    });
    if(isValid){
        var notefile = (document.getElementById('note')).files;
        var imgfile = (document.getElementById('nimage')).files;
        var imginfo = (imgfile[0].type).split("/");
        if(notefile[0].type != "application/pdf")
          alert('PDF Notes Only.');
        else if(imginfo[0] != "image")
          alert('Please uplopad a notes image');
        else
          document.forms["upform"].submit();
    }
    else{
        alert('ooops....Fill all Fields.');
      }
};

  </script>

  </head>

  <body>
    <% if(auth){%>
    <% include partials/loggedin-header.ejs %>
    <% }else{ %>
    <% include partials/header.ejs %>
    <% }%>
    <div class ='containers'>
          <h1><%= title %></h1>
          <%if(auth){%>
          <form action = "formaction" enctype = "multipart/form-data" method = "post" id="uploadform" name="upform">
              <b>Note :</b> <input type="file" name="myfile1"  id="note" ><br><br>
              <b>Image:</b> <input type="file" name="myfile2"  id="nimage"><br><br>
              <b>Select Category :</b>
              <select title='Select Category' name=category id="category">
                  <option value=''>Select Branch</option>
                  <option value='cse'>Computer Science</option>
                  <option value='ece'>Electronics</option>
                  <option value='mech'>Mechanical</option>
                  <option value='bio'>Biotech</option>
              </select>
              <br><br>

              <div class="subcat">
                Select Sub-Category :
                  <div class="cse">
                      <select name = "subcategory" class="sc">
                        <option value=''>Select Topic</option>
                        <option value='SMCS'>SMCS</option>
                        <option value='AI'>AI</option>
                        <option value='cs3'>cs3</option>
                        <option value='cs4'>cs4</option>
                      </select>
                  </div>
                  <div class="ece">
                      <select name=subcategory class="sc">
                        <option value=''>Select Topic</option>
                        <option value='ece1'>ece1</option>
                        <option value='ece2'>ece2</option>
                        <option value='ece3'>ece3</option>
                        <option value='ece4'>ece4</option>
                      </select>
                  </div>
                  <div class="mech">
                      <select name=subcategory class="sc">
                        <option value=''>Select Topic</option>
                        <option value='mech1'>mech1</option>
                        <option value='mech2'>mech2</option>
                        <option value='mech3'>mech3</option>
                        <option value='mech4'>mech4</option>
                      </select>
                  </div>
                  <div class="bio">
                      <select name=subcategory class="sc">
                        <option value=''>Select Topic</option>
                        <option value='bio1'>bio1</option>
                        <option value='bio2'>bio2</option>
                        <option value='bio3'>bio3</option>
                        <option value='bio4'>bio4</option>
                      </select>
                  </div>
              </div>
            <br><br>

              <textarea name="description" placeholder=" Description" id="description" style="width:480px; height:110px; background-color:#D0F18F;color:Indigo;"></textarea><br><br>
              <input type='button' onclick='validateForm()' value='Share' >
          </form>
          <br><br>
          <% }else{ %>
              <a href="/login">Login</a> to Upload.
          <% } %>
    </div>
   
  </body>
</html>
